* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #010409;
}

/* NAVBAR */

.logo-app {
  width: 3rem;
}

.navbar-toggle, .navbar-toggle-links {
  background-color: #010409;
}

.navbar-toggle button {
  background-color: rgb(233, 233, 233);
}

.loging {
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: .5rem;
  border: none;
  border-radius: .3rem;
  text-decoration: none;
}

/* REGISTER */

@media screen and (min-width: 320px) {
  .form-container{
    padding: 1.5rem;
    margin: 4rem 0rem;
    width: 90%;
    border: .1rem solid #0083b0;
    border-radius: .3rem;
  }
}

@media screen and (min-width: 768px) {
  .form-container{
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .form-container{
    width: 50%;
  }
}

@media screen and (min-width: 1300px) {
  .form-container{
    width: 35%;
  }
}

/* FOOTER */

.footer-container {
  background-color: #1a1a1a;
}

.footer-container p {
  margin-bottom: 0rem;
}

.linksProfile-container img {
    width: 1.8rem;
}



/* TO-DO LIST */

.content{
  text-align: center;
}

.list{
  margin-right: 20%;
  margin-left:20%;
}

.text{
  list-style-type: none;
  text-align: left;
  margin-top: 15px;
  background-color: rgba(104, 104, 104, 0.155);
  color: rgb(0, 0, 0);
  border: 2px solid rgba(125, 125, 125, 0.722);
  padding: 10px;
  font-size: 15px;
}

.delete{
  position: relative;
  bottom: 23px;
  right: 23px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: white;
}

.delete:hover{
  background-color: rgb(90, 255, 75);
  color: black;
  
}
