* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  background-color: #222831;
}

/* NAVBAR */

.logo-app {
  width: 3rem;
}

.navbar-toggle, .navbar-toggle-links {
  background-color: #222831;
}

.navbar-toggle button {
  background-color: rgb(233, 233, 233);
}

.loging {
  background-color: #892CDC ;
  padding: .5rem;
  border: none;
  border-radius: .3rem;
  text-decoration: none;
}

/* REGISTRO */

@media screen and (min-width: 320px) {
  .form-container{
    padding: 1.5rem;
    margin: 4rem 0rem;
    width: 90%;
    border: .1rem solid #892CDC;
    border-radius: .3rem;
  }
}

@media screen and (min-width: 768px) {
  .form-container{
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .form-container{
    width: 50%;
  }
}

@media screen and (min-width: 1300px) {
  .form-container{
    width: 35%;
  }
}

/* FOOTER */

.footer-container {
  background-color: #202020;
}

.footer-container p {
  margin-bottom: 0rem;
}

.linksProfile-container img {
    width: 1.8rem;
}


/*CONTAC*/

@media screen and (min-width: 320px) {
  .contact-form{
    padding: 2rem;
    margin: 0 auto;
    border: .1rem solid #892CDC;
    border-radius: .3rem;
    text-align: center;
    
  }
}


@media screen and (min-width: 768px) {
  .contact-form{
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .contact-form{
    width: 50%;
  }
}


@media screen and (min-width: 1300px) {
  .contact-form{
    width: 35%;
  }
}


.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  width: 90%;
  padding: 4px;
  

}



.contact-form textarea {

  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  width: 90%;
  padding: 5px;
  border: .1rem solid #892CDC;
  border-radius: .3rem;
}

.contact-form input {
  /* background-color: white; */
  width: 90%;
  padding: 4px;
}






.contact-form button[type="submit"]{
  padding: 10px 20px;
  background-color: #892CDC;
}



/* ERROR PAGE */



@keyframes letter {
  0% {
    font-size: 30px;
  }

  50% {
    font-size: 40px;
  }

  100% {
    font-size: 30px;
  }
}

.letter {
  animation: letter 1s infinite;
}

.letter1 {
  animation-delay: 0s;
}

.letter2 {
  animation-delay: -0.9s;
}

.letter3 {
  animation-delay: -0.8s;
}



